<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />

</head>
<body ng-app="pokedex">

	<div class="container">
		<h1>Pokésir First step</h1>
        
		<!-- Search -->
		<div ng-controller="searchPk">
           
            <label>Pokemon's ID :</label>
                <!-- search.$ to match both name and id of pokemons-->
                <input ng-model="searchId.$" type="text"
                  placeholder="ID of pokemon" >
                  
             <!--display my pk's list / search with the id  -->
              <ul ng-repeat="pokemon in pokemons | filter:searchId | orderBy: 'id' ">
             
                <li>{{pokemon.name}}</li>
              </ul>
              <label> Choose one</label>
              <select ng-model="pkmn">
                <option ng-repeat="pokemon in pokemons | filter:{id: id} | orderBy:id">{{pokemon.name}}</option>
            
             </select>
             <button ng-click="ichooseu(pkmn)" >Je te choisis ! </button>
            
             
        </div>

		<!-- Pokémon information -->
		<div ></div>

	</div>

    <!-- Dependencies -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>

    <!-- Pokedex app -->
    <script src="js/pokedex.js"></script>


</body>
</html>
