
<style>
ul {
 padding:0;
 margin:0;
 list-style-type:none;
 }
li {
 float:left; /*pour IE*/
 }
ul li a {
 display:block;
 float:left;   
 width:100px;
 line-height:50px; /*hauteur de l'image de fond*/
 color:#DCDCDC;
 text-decoration:none;
 text-align:center;
 }
ul li a:hover {
 color:white;
 } 
</style>
<div class="pokedex">

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header" ng-controller="searchPokemon">
            <a class="navbar-brand" href="#">Pika pika</a>
            <form class="form-inline col-lg-6" role="search">
                <input class="form-control mr-sm-2" ng-model="name" type="text" placeholder="eg: Charmeleon ">
                <select class="form-control" style="width: 100% !important;" ng-change="ichooseu(pkmn)" ng-model="pkmn">
                    <option class="form-control" value="{{pokemon.url}}" ng-repeat="pokemon in pokemons | filter:{name: name} | orderBy:pokemon">{{pokemon.name}}</option>
                </select>
            </form>
        </div>
    </div>
</nav>
<div class="container" style="padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;"> 
<div ng-controller="pokeWtach">
    <div>
        <div class="col-md-5">
            <h2 style="text-transform: uppercase">{{pokemon.name }}
            </h2>
              <img src="https://img.pokemondb.net/artwork/{{pokemon.name}}.jpg" style="max-height: 86px;">
            <h3>Description</h3>
            <p>{{pokemon.description}}</p>
                    <h3>Moves</h3>
            <table>
            <ul ng-repeat="move in pokemon.moves | limitTo:10">
                <li>&nbsp;{{move.move.name}} | </li>
            </ul>
        </table>
        </div>
        <div class="col-md-2 col-md-offset-1"></div>

    </div>
</div>
</div>
</div>
